<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        window.onload = function () {
            google.accounts.id.renderButton(
                document.getElementById("buttonDiv"),
                { theme: "outline", size: "large" }  // customization attributes
            );
            google.accounts.id.prompt(); // also display the One Tap dialog
        }
    </script>

</head>
<body>
    <h3>로그인</h3>
    <form>
        <input type="text" name="uid">
        <input type="password" name="pass">
        <input type="submit" value="로그인">
    </form>
    <a th:href="@{/oauth2/authorization/kakao}"><img height="38px" th:src="@{/images/kakao_login_medium_narrow.png}"></a>
    <a th:href="@{/oauth2/authorization/google}">구글 로그인</a>
        <div id="g_id_onload"
             data-client_id="518438414773-fhu5m2vlufjo7fbtk46m6rvd7glq64jo.apps.googleusercontent.com"
             data-context="signin"
             data-ux_mode="redirect"
             data-login_uri="http://localhost:8080/oauth2/authorization/google"
             data-auto_prompt="false">
        </div>

        <div class="g_id_signin"
             data-type="standard"
             data-shape="pill"
             data-theme="filled_blue"
             data-text="signin_with"
             data-size="large"
             data-width="50"
             data-logo_alignment="left">
        </div>
</body>
</html>