<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REST API</title>
    <!--
        날짜 : 2024/03/14
        이름 : 최이진
        내용 : Spring REST API

        Swagger API 문서
            - 의존성 추가 : springdoc-openapi-starter-webmvc-ui
            - SwaggerConfig 설정
            - Swagger 접속 : http://localhost:8080/ch09/swagger-ui/index.html
    -->
</head>
<body>
    <h3>Spring REST API</h3>

    <h4>user1️⃣ REST API 실습😀</h4>
    <!-- Swagger 문서 API 실습 -->
    <a th:href="@{/user1/list}">user1 목록</a>

    <h4>user2️⃣ REST API 실습😀</h4>
    <!-- Swagger 문서 API 실습 -->
    <a th:href="@{/user2/list}">user2 목록</a>

    <h4>user3️⃣ REST API 실습😀</h4>
    <!-- Swagger 문서 API 실습 -->
    <a th:href="@{/user3/list}">user3 목록</a>

    <h4>user4️⃣ REST API 실습😀</h4>
    <!-- Swagger 문서 API 실습 -->
    <a th:href="@{/user4/list}">user4 목록</a>

    <h4>user5️⃣ REST API 실습😀</h4>
    <!-- Swagger 문서 API 실습 -->
    <a th:href="@{/user5/list}">user5 목록</a>

</body>
</html>