<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user login</title>
    <script>
        window.onload = function (){
            const form = document.formUser;

            form.onsubmit = function (e){
                e.preventDefault();

                const uid = form.uid.value;
                const pass = form.pass.value;

                const jsonData = {
                    "uid" : uid,
                    "pass" : pass
                }
                fetch('/ch10/login', {
                    method : 'POST',
                    headers : {'Content-Type' : 'application/json'},
                    body : JSON.stringify(jsonData)
                })
                    .then(response => {
                        if(!response.ok){
                            throw new Error('Not Found');
                        }
                         return response.json()
                    })
                    .then(data=>{
                        console.log(data);
                        // 회원일 경우 엑세스 코드 저장
                        localStorage.setItem("grantType", data.grantType);
                        localStorage.setItem("accessToken", data.access);

                        location.href = '/ch10/user/list';
                    })
                    .catch(err=>{
                        // 회원이 아닌 경우
                        alert('회원 아님');
                        console.log(err);
                    });
            }
        }
    </script>
</head>
<body>
    <h3>로그인</h3>
    <form name="formUser" method="post">
        <input type="text" name="uid"/><br>
        <input type="password" name="pass"/><br>
        <input type="submit" value="로그인"/><br>
    </form>
    <a th:href="@{/user/register}">등록</a>
</body>
</html>