<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>user::modify</title>
    <script>
        window.onload = function (){
            const form = document.formUser;
            const url = location.href;
            const params = url.split('?')[1];
            const uid = params.split('=')[1];

            fetch(`/ch10/user/${uid}`)
                .then(response => response.json())
                .then(data =>{
                        form.uid.value = data.uid;
                        //form.pass.value = data.pass;
                        form.name.value = data.name;
                        form.age.value = data.age;
                        form.hp.value = data.hp;
                        form.role.value = data.role;
                })
                .catch(err => {
                    console.log(err);
                });

            form.onsubmit = function (e){
                e.preventDefault();

                const jsonData = {
                    "uid" : form.uid.value,
                    "pass" : form.pass.value,
                    "name" : form.name.value,
                    "age" : form.age.value,
                    "hp" : form.hp.value,
                    "role" : form.role.value,
                };
                console.log(jsonData);
                fetch('/ch10/user',{
                    method : 'PUT',
                    headers : {'Content-Type' : 'application/json'},
                    body : JSON.stringify(jsonData)
                })
                    .then(response => response.json())
                    .then(data =>{
                        console.log(data);
                        if (data != null){
                            alert(data.uid + '님 수정했습니다.');
                            location.href = '/ch10/user/list';
                        }
                    })
                    .catch(err => {
                        console.log(err);
                    });
            }

        }
    </script>
</head>
<body>
<h3>user2 수정</h3>
<a th:href="@{/}">메인</a>
<a th:href="@{/user/list}">목록</a>
<form name="formUser" method="post">
    <table border="1">
        <tr>
            <td>아이디</td>
            <td><input type="text" name="uid" readonly></td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="password" name="pass" placeholder="새로운 비밀번호 입력"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>나이</td>
            <td><input type="number" name="age"></td>
        </tr>
        <tr>
            <td>휴대폰</td>
            <td><input type="text" name="hp"></td>
        </tr>
        <tr>
            <td>권한</td>
            <td>
                <select name="role">
                    <option value="ADMIN">최고관리자</option>
                    <option value="MANAGER">운영자</option>
                    <option value="USER">일반사용자</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" value="등록">
            </td>
        </tr>
    </table>
</form>
</body>
</html>
