<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!--
        날짜 : 2024/03/12
        이름 : 최이진
        내용 : Spring Data JPA
    -->
</head>
<body>
    <h3>Spring Data JPA</h3>
    <h4>JPA 기본</h4>
    <a th:href="@{/user1/list}">user1 목록</a>
    <a th:href="@{/user2/list}">user2 목록</a>
    <a th:href="@{/user3/list}">user3 목록</a>
    <a th:href="@{/user4/list}">user4 목록</a>
    <a th:href="@{/user5/list}">user5 목록</a>
    <hr>
    <h4>쿼리 메서드</h4>
</body>
</html>