<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/defaultLayout.html">
<div class="container-fluid px-4" layout:fragment="content">
    <script th:inline="javascript">
        window.onload = function () {
            const postForm = document.getElementById('postForm');
            const commentForm = document.getElementById('commentForm');
            const btnComment = document.getElementsByClassName('btnComment')[0];

            const fileLinks = document.getElementsByClassName('fileLink');

            for (const fileLink of fileLinks) {
                // 파일 다운로드 요청과 동시에 다운로드 카운트 요청
                fileLink.onclick = async function () {
                    const fno = this.dataset.fno;

                    const count = this.nextElementSibling.innerText;
                    this.nextElementSibling.innerHTML = parseInt(count) + 1;
                }
            }
            //////////////////////////////////////////////////////////////////////////
            // 댓글 불러오기
            //////////////////////////////////////////////////////////////////////////
            const commentContainer = document.getElementById('commentContainer');
            const commentPlaceholder = document.getElementById('commentPlaceholder');
            const parent = [[${article.no}]];
            console.log(parent);
            const thisUser = postForm.user.value;
            setTimeout(async function () {

                const comments = await fetchGet(`/sboard/comment/${parent}`);

                if (comments.length > 0) {
                    for (const comment of comments) {
                        commentPlaceholder.remove();
                        let commentArticle = "";
                        const commentTop = `
                        <div class="card mt-3 comment" id="comment">
                             <div class="card-body">
                                 <div class="d-flex flex-start">
                                     <i class="fas fa-user mt-1 me-2 fs-5" ></i>
                                     <div class="w-100">
                                         <div class="d-flex justify-content-between align-items-center mb-3">
                                             <h6 class="text-primary fw-bold mb-0">
                                                 ${comment.user.nick}
                                                 <span class="text-dark ms-2"></span>
                                             </h6>
                                             <div class="ml-auto">
                                                 <p class="mb-0">${comment.rdate.substring(0, 10)}</p>
                                             </div>
                                         </div>
                                         <div class="d-flex justify-content-between align-items-center mb-3">
                                                 <textarea class="form-control" rows="3" readonly>${comment.content}</textarea>
                                         </div>`;

                        <!-- 댓글 작성자와 현재 사용자가 동일한 경우에만 삭제 및 수정 버튼을 표시 -->
                        const commentBtn = `
                                         <div class="d-flex justify-content-between align-items-center">
                                             <p class="small mb-0" style="color: #aaa;">
                                                     <a href="#" class="link-grey btnModify" data-mode="modify" data-no="${comment.no}"><i class="bi bi-pencil-fill"></i> 수정</a> •
                                                     <a href="#" class="link-grey btnRemove" data-mode="remove" data-no="${comment.no}"><i class="bi bi-trash3-fill"></i> 삭제</a>
                                             </p>
                                             <div class="d-flex flex-row">
                                                 <i class="fas fa-star text-warning me-2"></i>
                                                 <i class="far fa-check-circle" style="color: #aaa;"></i>
                                             </div>
                                         </div>`;
                        const commentEnd = `
                                     </div>
                                 </div>
                                 </div>
                             </div>`;

                        if (comment.user.uid === thisUser) {
                            commentArticle = commentTop + commentBtn + commentEnd;
                        } else {
                            commentArticle = commentTop + commentEnd;
                        }
                        // 태그 문자열 삽입
                        commentContainer.insertAdjacentHTML('beforeend', commentArticle);
                    }
                } else {
                    commentPlaceholder.remove();
                    const commentHtml = `
                                <div class="card mt-3 comment" id="noComment">
                                        <div class="card-body">
                                            <div class="d-flex flex-start">
                                                <div class="w-100">
                                                    <div class="d-flex justify-content-between align-items-center text-center mb-3">
                                                         <h4 class="text-primary fw-bold mb-0">

                                                            <span class="text-dark ms-2">
                                                            댓글이 없습니다. 😥
                                                              첫 번째 댓글을 남겨주세요.
                                                            </span>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>`;
                    console.log(commentHtml);

                    commentContainer.insertAdjacentHTML('beforeend', commentHtml);
                }
            }, 1000);
            //////////////////////////////////////////////////////////////////////////
            // 댓글 등록
            //////////////////////////////////////////////////////////////////////////
            commentForm.onsubmit = async function (e) {

                const pg = commentForm.querySelector('input[name="pg"]').value;
                const parent = commentForm.querySelector('input[name="parent"]').value;
                const url = `/sboard/comment?page=${pg}`;
                e.preventDefault();
                const jsonData = {
                    "writer": commentForm.querySelector('input[name="writer"]').value,
                    "cate": commentForm.querySelector('input[name="cate"]').value,
                    "parent": parent,
                    "content": commentForm.content.value
                };
                console.log(jsonData);
                const data = await fetchPost(url, jsonData);
                console.log(data);
                const noComment = document.getElementById('noComment');
                if (noComment) {
                    noComment.remove();
                }
                // 댓글 목록 동적 처리
                const commentHtml = `
                                <div class="card mt-3 comment " id="comment">
                                        <div class="card-body">
                                            <div class="d-flex flex-start">
                                                <i class="fas fa-user mt-1 me-2 fs-5"></i>
                                                <div class="w-100">
                                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                                        <h6 class="text-primary fw-bold mb-0">
                                                            ${data.user.nick}
                                                            <span class="text-dark ms-2"></span>
                                                        </h6>
                                                        <div class="ml-auto">
                                                            <p class="mb-0">${data.rdate.substring(0, 10)}</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                                         <textarea class="form-control" rows="3" readonly>${data.content}</textarea>
                                                    </div>
                                                    <!-- 댓글 작성자와 현재 사용자가 동일한 경우에만 삭제 및 수정 버튼을 표시 -->
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="small mb-0" style="color: #aaa;">
                                                            <a href="#!" class="link-grey"><i class="bi bi-pencil-fill"></i> 수정</a>  •
                                                            <a href="#!" class="link-grey"><i class="bi bi-trash3-fill"></i> 삭제</a>
                                                        </p>
                                                        <div class="d-flex flex-row">
                                                            <i class="fas fa-star text-warning me-2"></i>
                                                            <i class="far fa-check-circle" style="color: #aaa;"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    `;
                console.log(commentHtml);
                commentForm.content.value = "";
                commentContainer.insertAdjacentHTML('beforeend', commentHtml);
            };
            //////////////////////////////////////////////////////////////////////////
            // 댓글 삭제 수정
            //////////////////////////////////////////////////////////////////////////
            document.addEventListener('click', async function (e) {

                // 다른 페이지 이동, 댓글 등록 등은 제외 해야함
                if (e.target.tagName === 'A' && e.target.dataset.mode != null) {
                    e.preventDefault();

                    // 삭제
                    if (e.target.dataset.mode == 'remove') {
                        const comment = e.target.closest('.comment');
                        const no = e.target.dataset.no;

                        console.log("no : " + no);

                        const data = fetchDelete(`/sboard/comment/${no}`);
                        if (data) {
                            alertModal("삭제 되었습니다.");
                            comment.remove();
                        }
                    } else if (e.target.dataset.mode == 'modify') {
                        const comment = e.target.closest('.comment');
                        const btnModify = comment.getElementsByClassName('btnModify')[0];
                        const btnRemove = comment.getElementsByClassName('btnRemove')[0];
                        const no = e.target.dataset.no;
                        const textarea = comment.getElementsByTagName('textarea')[0];

                        // 수정 모드
                        textarea.readOnly = false;
                        textarea.style.outline = "1px solid #111"
                        textarea.focus();
                        textarea.setSelectionRange(textarea.value.length, textarea.value.length);

                        btnModify.textContent = '수정';
                        btnModify.dataset.mode = 'update';
                        btnRemove.textContent = '취소';
                        btnRemove.dataset.mode = 'cancel';

                    } else if (e.target.dataset.mode == 'cancel') {
                        alertModal('수정 취소');
                        const comment = e.target.closest('.comment');

                        // 수정 모드 해제 함수
                        noModifyMode(comment);

                    } else if (e.target.dataset.mode == 'update') {
                        const comment = e.target.closest('.comment');
                        const btnModify = comment.getElementsByClassName('btnModify')[0];
                        const btnRemove = comment.getElementsByClassName('btnRemove')[0];
                        const textarea = comment.getElementsByTagName('textarea')[0];
                        const no = e.target.dataset.no;

                        const jsonData = {
                            "no": no,
                            "content": textarea.value
                        };

                        console.log(jsonData);

                        const data = fetchPut('/sboard/comment', jsonData);

                        alertModal("수정되었습니다.");

                        noModifyMode(comment);
                    } else if (e.target.dataset.mode == 'return') {
                        const cate = postForm.cate.value;
                        const pg = postForm.pg.value;
                        window.location.href = '/sboard/article/list?pg=' + pg + '&cate=' + cate;

                    }
                }
            });
        }
    </script>
    <h1 class="mt-4">게시판</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">000 글보기</li>
    </ol>
    <!-- 내용 시작 -->
    <div class="card mb-4">
        <div class="card-header">
            <i class="bi bi-file-earmark-text fs-4"></i>

            <label th:text="${article.title}" class="fw-bold fs-5"></label>
        </div>
        <div class="card-body" id="articleCard">
            <form action="#" id="postForm">
                <input type="hidden" name="cate" th:value="${pageResponseDTO.cate}">
                <input type="hidden" name="pg" th:value="${pageResponseDTO.pg}">
                <input type="hidden" name="no" value="0">
                <input type="hidden" name="user" th:value="${#authentication.principal.user.uid}">
                <!--
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">글제목</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="title" th:value="${article.title}" readonly>
                </div> -->
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label fw-bolder">글내용</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="content" readonly>[[${article.content}]]</textarea>
                </div>
                <div th:if="${article.file > 0}" class="mb-3">
                    <i class="bi bi-paperclip fs-4"></i>
                    <label for="exampleFormControlInput1" class="form-label">첨부파일</label>
                    <ul class="list-group" id="exampleFormControlInput1">
                        <li th:each="file:${article.fileList}"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            <a th:href="@{/file/download/{fno}(fno=${file.fno})}" class="fileLink"
                               th:data-fno="${file.fno}">[[${file.oName}]]</a>
                            <span class="badge text-bg-primary rounded-pill">[[${file.download}]]</span>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <div class="text-end">
        <a th:href="@{'/article/list?pg=' + ${pageResponseDTO.pg} + '&cate=' + ${pageResponseDTO.cate}}"
           class="btn btn-secondary">목록</a>
    </div>
    <!-- 댓글 목록 -->
    <div id="commentContainer">
        <div class="card mt-3">
            <div class="card-body placeholder-glow" id="commentPlaceholder">
                <div class="d-flex flex-start">
                    <i class="fas fa-user mt-1 me-2"></i>
                    <div class="w-100">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h6 class="text-primary fw-bold mb-0 placeholder">

                                <span class="text-dark ms-2"></span>
                            </h6>
                            <div class="ml-auto">
                                <p class="mb-0 placeholder"></p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="mb-0 placeholder" readonly>
                            </div>
                        </div>
                        <!-- 댓글 작성자와 현재 사용자가 동일한 경우에만 삭제 및 수정 버튼을 표시 -->
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="small mb-0" style="color: #aaa;">
                                <a href="#!" class="link-grey placeholder">수정</a>
                                <a href="#!" class="link-grey placeholder">삭제</a> •
                            </p>
                            <div class="d-flex flex-row">
                                <i class="fas fa-star text-warning me-2"></i>
                                <i class="far fa-check-circle" style="color: #aaa;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 댓글 쓰기 -->
    <form th:action="@{/commentWrite}" method="post" id="commentForm" class="mt-3">
        <input type="hidden" name="parent" th:value="${article.no}">
        <input type="hidden" name="writer" th:value="${#authentication.principal.user.uid}">
        <input type="hidden" name="cate" th:value="${pageResponseDTO.cate}">
        <input type="hidden" name="pg" th:value="${pageResponseDTO.pg}">
        <input type="hidden" name="no" value="0">
        <div class="input-group">
            <span class="input-group-text">댓글 입력</span>
            <textarea class="form-control" aria-label="With textarea" rows="5" name="content"></textarea>
        </div>
        <div class="mt-4 mb-4 text-end">
            <button type="button" class="btn btn-secondary">취소</button>
            <input type="submit" class="btn btnComment btn-primary" value="댓글 등록">
        </div>
    </form>
    <!-- 내용 끝 -->
</div>
</html>
