<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/defaultLayout}">
<div class="container-fluid px-4" layout:fragment="content">
    <script th:inline="javascript">
        window.onload = function () {
            const putForm = document.getElementById('putForm');
            const commentForm = document.getElementById('commentForm');
            const btnComment = document.getElementsByClassName('btnComment')[0];
            const articleModify = document.getElementById('articleModify');
            const articleDelete = document.getElementById('articleDelete');

            const fileLinks = document.getElementsByClassName('fileLink');

            for (const fileLink of fileLinks) {
                // 파일 다운로드 요청과 동시에 다운로드 카운트 요청
                fileLink.onclick = async function () {
                    const fno = this.dataset.fno;

                    const count = this.nextElementSibling.innerText;
                    this.nextElementSibling.innerHTML = parseInt(count) + 1;
                }
            }

            //////////////////////////////////////////////////////////////////////////
            // 댓글 불러오기
            //////////////////////////////////////////////////////////////////////////
            const commentContainer = document.getElementById('commentContainer');
            const commentPlaceholder = document.getElementById('commentPlaceholder');
            const parent = [[${article.no}]];
            console.log(parent);

            const thisUser = putForm.user.value;
            setTimeout(async function () {

                console.log('here...1');

                const comments = await fetchGet(`/sboard/comment/${parent}`);
                console.log('here...2 : ' + comments);

                if (comments.length > 0) {
                    for (const comment of comments) {
                        commentPlaceholder.remove();
                        let commentArticle = "";
                        const commentTop = `
                        <div class="card mt-3 comment" id="comment">
                             <div class="card-body">
                                 <div class="d-flex flex-start">
                                     <i class="fas fa-user mt-1 me-2 fs-5" ></i>
                                     <div class="w-100">
                                         <div class="d-flex justify-content-between align-items-center mb-3">
                                             <h6 class="text-primary fw-bold mb-0">
                                                 ${comment.nick}
                                                 <span class="text-dark ms-2"></span>
                                             </h6>
                                             <div class="ml-auto">
                                                 <p class="mb-0">${comment.rdate.substring(0, 10)}</p>
                                             </div>
                                         </div>
                                         <div class="d-flex justify-content-between align-items-center mb-3">
                                                 <textarea class="form-control" rows="3" readonly>${comment.content}</textarea>
                                         </div>
                                         <div class="float-end">
                                              <div class="d-flex flex-row">
                                                 <button class="btn btn-light btn-sm fw-bold" id="iLikeComment" data-like="commentlike" data-no="${comment.no}"><i class="fas fa-star text-warning me-2 fs-5"></i>${comment.heart}</button>
                                             </div>
                                         </div>
                                          <div class="d-flex justify-content-between align-items-center">`;

                        <!-- 댓글 작성자와 현재 사용자가 동일한 경우에만 삭제 및 수정 버튼을 표시 -->
                        const commentBtn = `

                                             <p class="small mb-0" style="color: #aaa;">
                                                     <a href="#" class="link-grey btnModify" data-mode="modify" data-no="${comment.no}"><i class="bi bi-pencil-fill"></i> 수정</a> •
                                                     <a href="#" class="link-grey btnRemove" data-mode="remove" data-no="${comment.no}"><i class="bi bi-trash3-fill"></i> 삭제</a>
                                             </p>
                                             `;
                        const commentEnd = `
                                         </div>

                                     </div>
                                 </div>
                                 </div>
                             </div>`;

                        if (comment.writer === thisUser) {
                            commentArticle = commentTop + commentBtn + commentEnd;
                        } else {
                            commentArticle = commentTop + commentEnd;
                        }
                        // 태그 문자열 삽입
                        commentContainer.insertAdjacentHTML('beforeend', commentArticle);
                    }
                } else {
                    commentPlaceholder.remove();
                    const commentHtml = `
                                <div class="card mt-3 comment" id="noComment">
                                        <div class="card-body">
                                            <div class="d-flex flex-start">
                                                <div class="w-100">
                                                    <div class="d-flex justify-content-between align-items-center text-center mb-3">
                                                         <h4 class="text-primary fw-bold mb-0">

                                                            <span class="text-dark ms-2">
                                                            댓글이 없습니다. 😥
                                                              첫 번째 댓글을 남겨주세요.
                                                            </span>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>`;
                    console.log(commentHtml);

                    commentContainer.insertAdjacentHTML('beforeend', commentHtml);
                }
            }, 1000);
            //////////////////////////////////////////////////////////////////////////
            // 댓글 등록
            //////////////////////////////////////////////////////////////////////////
            commentForm.onsubmit = async function (e) {

                const pg = commentForm.querySelector('input[name="pg"]').value;
                const parent = commentForm.querySelector('input[name="parent"]').value;
                const url = `/sboard/comment?page=${pg}`;
                const nick = [[${#authentication.principal.user.nick}]];
                e.preventDefault();
                const jsonData = {
                    "writer": commentForm.querySelector('input[name="writer"]').value,
                    "cate": commentForm.querySelector('input[name="cate"]').value,
                    "parent": parent,
                    "content": commentForm.content.value
                };
                console.log(jsonData);
                const data = await fetchPost(url, jsonData);
                console.log(data);
                const noComment = document.getElementById('noComment');
                if (noComment) {
                    noComment.remove();
                }
                // 댓글 목록 동적 처리
                const commentHtml = `
                                <div class="card mt-3 comment " id="comment">
                                        <div class="card-body">
                                            <div class="d-flex flex-start">
                                                <i class="fas fa-user mt-1 me-2 fs-5"></i>
                                                <div class="w-100">
                                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                                        <h6 class="text-primary fw-bold mb-0">
                                                            ${nick}
                                                            <span class="text-dark ms-2"></span>
                                                        </h6>
                                                        <div class="ml-auto">
                                                            <p class="mb-0">${data.rdate.substring(0, 10)}</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                                         <textarea class="form-control" rows="3" readonly>${data.content}</textarea>
                                                    </div>
                                                    <div class="float-end">
                                                          <div class="d-flex flex-row">
                                                             <button class="btn btn-light btn-sm fw-bold" data-like="commentlike" data-no="${data.no}"><i class="fas fa-star text-warning me-2 fs-5"></i>${comment.heart}</button>
                                                         </div>
                                                     </div>
                                                    <!-- 댓글 작성자와 현재 사용자가 동일한 경우에만 삭제 및 수정 버튼을 표시 -->
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="small mb-0" style="color: #aaa;">
                                                                 <a href="#" class="link-grey btnModify" data-mode="modify" data-no="${data.no}"><i class="bi bi-pencil-fill"></i> 수정</a> •
                                                                 <a href="#" class="link-grey btnRemove" data-mode="remove" data-no="${data.no}"><i class="bi bi-trash3-fill"></i> 삭제</a>
                                                         </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    `;
                console.log(commentHtml);
                commentForm.content.value = "";
                commentContainer.insertAdjacentHTML('beforeend', commentHtml);
            };
            //////////////////////////////////////////////////////////////////////////
            // 댓글 삭제 수정
            //////////////////////////////////////////////////////////////////////////
            document.addEventListener('click', async function (e) {

                // 다른 페이지 이동, 댓글 등록 등은 제외 해야함
                if (e.target.tagName === 'A' && e.target.dataset.mode != null) {
                    e.preventDefault();

                    // 삭제
                    if (e.target.dataset.mode == 'remove') {
                        const comment = e.target.closest('.comment');
                        const no = e.target.dataset.no;

                        console.log("no : " + no);

                        const data = await fetchDelete(`/sboard/comment/${no}`);
                        if (data) {
                            alertModal("삭제 되었습니다.");
                            comment.remove();
                        }
                    } else if (e.target.dataset.mode == 'modify') {
                        const comment = e.target.closest('.comment');
                        const btnModify = comment.getElementsByClassName('btnModify')[0];
                        const btnRemove = comment.getElementsByClassName('btnRemove')[0];
                        const no = e.target.dataset.no;
                        const textarea = comment.getElementsByTagName('textarea')[0];

                        // 수정 모드
                        textarea.readOnly = false;
                        textarea.style.outline = "1px solid #111"
                        textarea.focus();
                        textarea.setSelectionRange(textarea.value.length, textarea.value.length);

                        btnModify.textContent = '수정';
                        btnModify.dataset.mode = 'update';
                        btnRemove.textContent = '취소';
                        btnRemove.dataset.mode = 'cancel';

                    } else if (e.target.dataset.mode == 'cancel') {
                        alertModal('수정 취소');
                        const comment = e.target.closest('.comment');

                        // 수정 모드 해제 함수
                        noModifyMode(comment);

                    } else if (e.target.dataset.mode == 'update') {
                        const comment = e.target.closest('.comment');
                        const btnModify = comment.getElementsByClassName('btnModify')[0];
                        const btnRemove = comment.getElementsByClassName('btnRemove')[0];
                        const textarea = comment.getElementsByTagName('textarea')[0];
                        const no = e.target.dataset.no;

                        const jsonData = {
                            "no": no,
                            "content": textarea.value
                        };

                        console.log(jsonData);

                        const data = await fetchPut('/sboard/comment', jsonData);

                        alertModal("수정되었습니다.");

                        noModifyMode(comment);
                    } else if (e.target.dataset.mode == 'return') {
                        const cate = putForm.cate.value;
                        const pg = putForm.pg.value;
                        window.location.href = '/sboard/article/list?pg=' + pg + '&cate=' + cate;

                    }

                    //////////////////////////////////////////////////////////////////////////
                    // 게시글 수정 삭제
                    //////////////////////////////////////////////////////////////////////////
                }else if(e.target.tagName === 'BUTTON'){
                    const fileUpload = document.getElementById('fileUpload');
                    const contentTextarea = document.getElementById('articleFormControlTextarea1');
                    const roundedPills = document.getElementsByClassName('rounded-pill');
                    const removeFiles = document.getElementsByClassName('removeFile');
                    const no = putForm.no.value;
                    const cate = putForm.cate.value;

                    // 게시글 수정 //////////////////////////////////////////////////////////////////////////
                    if(e.target.id === 'articleModify' && e.target.dataset.mode === 'modify') {

                        // 수정 모드
                        contentTextarea.readOnly = false;
                        fileUpload.classList.remove('visually-hidden');

                        articleDelete.innerText = '취소';
                        articleModify.innerText = '수정완료';
                        articleDelete.dataset.mode = 'artCancel';
                        e.target.dataset.mode = 'submit';
                        for (const roundedPill of roundedPills) {
                            roundedPill.classList.add('visually-hidden');
                        }
                        for (const removeFile of removeFiles) {
                            removeFile.classList.remove('visually-hidden');
                        }

                    }else if(e.target.id === 'articleModify' && e.target.dataset.mode === 'submit') {
                        e.preventDefault();
                        const putForm = document.getElementById('putForm');

                        putForm.submit();

                        // file은 json에 포함될 수 없다.


                        alertModal("수정되었습니다.");

                        contentTextarea.readOnly = true;
                        fileUpload.classList.add('visually-hidden');
                        removeFiles.classList.add('visually-hidden');
                        articleDelete.innerText = '삭제';
                        e.target.dataset.mode = 'modify';

                        // 게시글 삭제 //////////////////////////////////////////////////////////////////////////
                    }else if(e.target.id === 'articleDelete'){

                        if(articleDelete.innerText === '삭제') {
                            if (await confirmModal('게시글을 삭제하시겠습니까?')) {

                                const data = await fetchDelete(`/sboard/article/${no}`);
                                if (data) {
                                    alertModal("삭제 되었습니다.");
                                    location.href = '/sboard/article/list?cate=' + cate;
                                }
                            }
                            // 게시글 수정 취소 //////////////////////////////////////////////////////////////////////
                        }else if(articleDelete.innerText === '취소'){
                            if (await confirmModal('게시글을 수정을 취소하시겠습니까?')) {
                                contentTextarea.readOnly = true;
                                fileUpload.classList.add('visually-hidden');
                                removeFiles.classList.add('visually-hidden');
                                articleDelete.innerText = '삭제';
                                e.target.dataset.mode = 'modify';
                            }
                        }
                        // 게시글 좋아요
                    }else if(e.target.id === 'iLikeIt') {
                        e.preventDefault();
                        const iLikeIt = document.getElementById('iLikeIt');
                        const no = putForm.no.value;
                        const uid = commentForm.writer.value;
                        const jsonData ={
                            "uid" : uid,
                            "no"  : no
                        };
                        const data = await fetchPost('/sboard/heart', jsonData);

                        if(data != null){
                            iLikeIt.innerHTML = `<i class="bi bi-hand-thumbs-up-fill"></i> 추천 ${data.heart}`;
                        }else {
                            if(await confirmModal('좋아요를 취소하시겠습니까?')){
                                const delData = await fetchDelete(`/sboard/heart/${uid}/${no}`);
                                iLikeIt.innerHTML = `<i class="bi bi-hand-thumbs-up-fill fs-5"></i> 추천 ${delData.heart}`;
                            }
                        }
                        // 댓글 좋아요
                    }else if(e.target.dataset.like === 'commentlike') {
                        e.preventDefault();
                        const iLikeComment = e.target;
                        const no = e.target.dataset.no;
                        const uid = commentForm.writer.value;
                        const jsonData ={
                            "uid" : uid,
                            "no"  : no
                        };
                        const data = await fetchPost('/sboard/heart', jsonData);

                        if(data != null){
                            iLikeComment.innerHTML = `<i class="fas fa-star text-warning me-2 fs-5"></i>${data.heart}`;
                        }else {
                            if(await confirmModal('좋아요를 취소하시겠습니까?')){
                                const delData = await fetchDelete(`/sboard/heart/${uid}/${no}`);
                                iLikeComment.innerHTML = `<i class="fas fa-star text-warning me-2 fs-5"></i>${delData.heart}`;
                            }
                        }
                    }
                    // 파일 삭제 클릭
                }if (e.target.tagName === 'A' && e.target.dataset.fno != null) {
                    if(await confirmModal('파일을 삭제하시겠습니까?')){
                        const fileLi = e.target.closest('li');
                        const fno = e.target.dataset.fno;

                        const data = await fetchDelete(`/sboard/file/${fno}`);
                        if (data != null){
                            fileLi.remove();
                        }
                    }
                }
            });
        }
    </script>
    <h1 class="mt-4">게시판</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">[[${boardName}]] 글보기</li>
    </ol>
    <!-- 내용 시작 -->
    <div class="card mb-2">
        <div class="card-header">
            <i class="bi bi-file-earmark-text fs-4"></i>

            <label th:text="${article.title}" class="fw-bold fs-5"></label>
        </div>
        <div class="card-body" id="articleCard">
            <form th:action="@{/article/modify}" id="putForm" method="post" enctype="multipart/form-data">
                <input type="hidden" name="cate" th:value="${pageResponseDTO.cate}">
                <input type="hidden" name="pg" th:value="${pageResponseDTO.pg}">
                <input type="hidden" name="no" th:value="${article.no}">
                <input type="hidden" name="writer" th:value="${article.writer}">
                <input type="hidden" name="user" th:value="${#authentication.principal.user.uid}">
                <!--
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">글제목</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="title" th:value="${article.title}" readonly>
                </div> -->
                <div class="mb-3">
                    <label for="articleFormControlTextarea1" class="form-label fw-bolder">글내용</label>
                    <textarea class="form-control" id="articleFormControlTextarea1" rows="10" name="content" readonly>[[${article.content}]]</textarea>
                </div>
                <div th:if="${article.file > 0}" class="mb-3">
                    <i class="bi bi-paperclip fs-4"></i>
                    <label for="exampleFormControlInput1" class="form-label">첨부파일</label>
                    <ul class="list-group" id="exampleFormControlInput1">
                        <li th:each="file:${article.fileList}"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            <a th:href="@{/file/download/{fno}(fno=${file.fno})}" class="fileLink"
                               th:data-fno="${file.fno}">[[${file.oName}]]</a>
                            <span class="badge text-bg-primary rounded-pill">[[${file.download}]]</span>
                            <a href="#" class="link-grey visually-hidden removeFile" th:data-fno="${file.fno}"><i class="bi bi-trash3-fill"></i> 삭제</a>
                        </li>
                    </ul>
                </div>
                <div class="mb-3 visually-hidden" id="fileUpload">
                    <label for="formFileMultiple" class="form-label">파일첨부</label>
                    <input class="form-control" type="file" name="files" id="formFileMultiple" multiple>
                </div>
            </form>
        </div>
    </div>
    <div class="text-end" th:if="${#authentication.principal.user.uid == article.writer}">
        <button type="button" class="btn btn-primary" id="articleModify" data-mode="modify">수정</button>
        <button type="button" class="btn btn-secondary" id="articleDelete">삭제</button>
    </div>
    <div class="text-center">
        <a th:if="${pageResponseDTO.keyword == null}" th:href="@{/article/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.pg})}"
           class="btn btn-primary">목록</a>
        <a th:if="${pageResponseDTO.keyword != null}" th:href="@{/article/list(cate=${pageResponseDTO.cate}, pg=${pageResponseDTO.pg}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}"
           class="btn btn-primary">목록</a>
        <button class="btn btn-warning" id="iLikeIt" data-like="like"><i class="bi bi-hand-thumbs-up-fill fs-5"></i> 추천 [[${article.heart}]]</button>
    </div>
    <!-- 댓글 목록 -->
    <div id="commentContainer">
        <div class="card mt-3">
            <div class="card-body placeholder-glow" id="commentPlaceholder">
                <div class="d-flex flex-start">
                    <i class="fas fa-user mt-1 me-2"></i>
                    <div class="w-100">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h6 class="text-primary fw-bold mb-0 placeholder">

                                <span class="text-dark ms-2"></span>
                            </h6>
                            <div class="ml-auto">
                                <p class="mb-0 placeholder"></p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="mb-0 placeholder" readonly>
                            </div>
                        </div>
                        <!-- 댓글 작성자와 현재 사용자가 동일한 경우에만 삭제 및 수정 버튼을 표시 -->
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="small mb-0" style="color: #aaa;">
                                <a href="#!" class="link-grey placeholder">수정</a>
                                <a href="#!" class="link-grey placeholder">삭제</a> •
                            </p>
                            <div class="d-flex flex-row">
                                <i class="fas fa-star text-warning me-2"></i>
                                <i class="far fa-check-circle" style="color: #aaa;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 댓글 쓰기 -->
    <form th:action="@{/commentWrite}" method="post" id="commentForm" class="mt-3">
        <input type="hidden" name="parent" th:value="${article.no}">
        <input type="hidden" name="writer" th:value="${#authentication.principal.user.uid}">
        <input type="hidden" name="cate" th:value="${pageResponseDTO.cate}">
        <input type="hidden" name="pg" th:value="${pageResponseDTO.pg}">
        <input type="hidden" name="no" value="0">
        <div class="input-group">
            <span class="input-group-text">댓글 입력</span>
            <textarea class="form-control" aria-label="With textarea" rows="5" name="content"></textarea>
        </div>
        <div class="mt-4 mb-4 text-end">
            <button type="button" class="btn btn-secondary">취소</button>
            <input type="submit" class="btn btnComment btn-primary" value="댓글 등록">
        </div>
    </form>
    <!-- 내용 끝 -->
</div>
</html>
