<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/userLayout}">

<!--
    날짜 : 2024/03/25
    이름 : 최이진
    내용 : 비밀번호 찾기 구현하기

    - http://localhost:8080/sboard/user/findPassword
    - 인증된 이메일과 아이디로 사용자 조회
    - 해당하는 사용자가 조회 되면 비밀번호 변경 페이지 이동
-->
<div class="container" layout:fragment="content">
    <script th:inline="javascript">
        let isEmailOk = false;

        window.onload = function (){
            const btnCheckEmail = document.getElementById('btnCheckEmail');
            const btnCheckEmailCode = document.getElementById('btnCheckEmailCode');
            const btnNext = document.getElementById('btnNext');
            const findPassForm = document.getElementById('findPassForm');
            const resultEmail = document.getElementById('resultEmail');
            const inputEmail = document.getElementById('inputEmail');
            const inputEmailCode = document.getElementById('inputEmailCode');

            const type = 'email';

            btnCheckEmail.onclick = function (e){
                const spinner = this.getElementsByClassName('spinner')[0];
                const value = findPassForm.email.value;

                // spinner 시작
                spinner.classList.remove('d-none');
                setTimeout(async () => {
                    // 해당 이메일로 가입된 사용자가 있는지 확인
                    const data = await fetchGet(`/sboard/user/${type}/${value}`);

                    if (data.result > 0) {
                        spinner.classList.add('d-none');
                        resultEmail.classList.remove('invalid-feedback');
                        resultEmail.classList.add('valid-feedback');
                        resultEmail.innerText = '이메일 인증코드 전송 중...';
                    } else {
                        spinner.classList.add('d-none');
                        resultEmail.classList.add('invalid-feedback');
                        resultEmail.innerText = '해당하는 사용자가 없는 이메일입니다.';
                    }
                },1000);
            }
            // 인증코드 확인
            btnCheckEmailCode.onclick = async function (){
                const data = await fetchGet(`/sboard/email/${inputEmailCode.value}`);
                if(!data.result){
                    resultEmail.classList.add('invalid-feedback');
                    resultEmail.innerText = '인증코드가 일치하지 않습니다.';
                    isEmailOk = false;
                }else{
                    resultEmail.classList.remove('invalid-feedback');
                    resultEmail.classList.add('valid-feedback');
                    resultEmail.innerText = '이메일이 인증되었습니다.';
                    isEmailOk = true;
                }

            }
            // 폼 전송
            btnNext.onclick = async function (e){
                e.preventDefault();

                if (isEmailOk) {
                    const uid = findPassForm.uid.value;
                    const email = findPassForm.email.value;
                    const jsonData = {
                        "uid" : uid,
                        "email": email
                    };
                    const data = await fetchPost(`/sboard/user/findPassword`,jsonData);
                    if(data != null) {
                        location.href = '/sboard/user/findPasswordChange';
                    }else{
                        alertModal('일치하는 회원이 없습니다. 아이디를 다시 확인해주세요.');
                    }

                }else {
                    alertModal('이메일 인증을 해주십시오.');
                    return false;
                }
            }
        }
    </script>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">비밀번호 찾기</h3></div>
                <div class="card-body">
                    <form method="post" id="findPassForm">
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" id="inputUid" name="uid" placeholder="아이디 입력" />
                            <label for="inputUid">아이디 입력</label>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-floating mb-3">
                                    <input class="form-control" type="text" id="inputEmail" name="email" placeholder="이메일 입력" />
                                    <label for="inputEmail">이메일 입력</label>
                                </div>
                                <div id="resultEmail" class="d-block"></div>
                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-outline-secondary w-100 mt-2" id="btnCheckEmail" data-type="email">
                                    <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span class="" role="status">이메일 인증</span>
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-floating mb-3">
                                    <input class="form-control inputEmailCode" type="text" id="inputEmailCode" name="code" placeholder="인증번호 입력" />
                                    <label for="inputEmailCode">인증번호 입력</label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-outline-secondary w-100 mt-2" id="btnCheckEmailCode">
                                    <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span class="" role="status">인증확인</span>
                                </button>
                            </div>
                        </div>

                        <div id="resultEmailCode" class="d-block"></div>


                        <p class="small">
                            비밀번호를 찾고자 하는 아이디와 이메일을 입력해 주세요.<br>
                            회원가입시 입력한 아이디와 이메일 주소가 같아야, 인증번호를 받을 수 있습니다.<br>
                            인증번호를 입력 후 확인 버튼을 누르세요.<br>
                        </p>

                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div>
                        <a th:href="@{/user/login}" class="btn btn-secondary">취소</a>
                        <a th:href="@{/user/findPasswordChange}" class="btn btn-primary" id="btnNext">다음</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- container end -->
</html>